.footer {
  display: flex;
  justify-content: center;
}

.footer__image {
  width: 104px;
  height: 16px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 668px;
  margin-right: 668px;
  opacity: 0.7;
  color: #212121;
}
